/dts-v1/;
#include <st/h7/stm32h723.dtsi>
#include <st/h7/stm32h723zgtx-pinctrl.dtsi>

/ {
    model = "AsterICS";
    compatible = "asterics";

    chosen {
        zephyr,console = &usart1;
        zephyr,shell-uart = &usart1;
        zephyr,sram = &sram0;
        zephyr,flash = &flash0;
    };

    leds {
        compatible = "gpio-leds";
        led_mcu_1: led_mcu_1 {
            gpios = <&gpiob 4 GPIO_ACTIVE_HIGH>;
            label = "LED MCU 1";
        };
        led_mcu_2: led_mcu_2 {
            gpios = <&gpiog 15 GPIO_ACTIVE_HIGH>;
            label = "LED MCU 2";
        };
        led_mcu_3: led_mcu_3 {
            gpios = <&gpiog 14 GPIO_ACTIVE_HIGH>;
            label = "LED MCU 3";
        };
        led_mcu_4: led_mcu_4 {
            gpios = <&gpiog 13 GPIO_ACTIVE_HIGH>;
            label = "LED MCU 4";
        };
        led_mcu_5: led_mcu_5 {
            gpios = <&gpioe 10 GPIO_ACTIVE_HIGH>;
            label = "LED MCU 5";
        };
        led_mcu_6: led_mcu_6 {
            gpios = <&gpiob 1 GPIO_ACTIVE_HIGH>;
            label = "LED MCU 6";
        };
        led_mcu_7: led_mcu_7 {
            gpios = <&gpiog 0 GPIO_ACTIVE_HIGH>;
            label = "LED MCU 7";
        };
    };
};

&sram0 {
    reg = <0x24000000 DT_SIZE_K(320)>;
};

&flash0 {
    reg = <0x08000000 DT_SIZE_K(1024)>;
};

&clk_hse {
    clock-frequency = <DT_FREQ_M(48)>;
    status = "okay";
};

&clk_lse {
    driving-capability = <2>;
    status = "okay";
};

&pll {
    div-m = <3>;
    mul-n = <34>;
    div-p = <1>;
    div-q = <10>;
    div-r = <11>;
    fracn = <3072>;
    clocks = <&clk_hse>;
    status = "okay";
};

&pll2 {
    div-m = <3>;
    mul-n = <12>;
    div-p = <3>;
    div-q = <3>;
    div-r = <3>;
    fracn = <0>;

    clocks = <&clk_hse>;
    status = "okay";
};

&pll3 {
    div-m = <3>;
    mul-n = <12>;
    div-p = <3>;
    div-q = <3>;
    div-r = <3>;
    fracn = <0>;

    clocks = <&clk_hse>;
    status = "okay";
};

&rcc {
    clocks = <&pll>;
    clock-frequency = <DT_FREQ_M(550)>; /* CPU Core Clock */
    d1cpre = <1>;   // sets the CPU clock, same as systick
    hpre = <2>;     // 275MHz to AXI, HCLK3, AHB1, AHB2, AHB4
    d1ppre = <2>;   //137.5MHz to APB3 peripheral clocks
    d2ppre1 = <2>;  //137.5MHz to APB1 peripheral clocks
    d2ppre2 = <2>;  //137.5MHz to APB2 peripheral clocks
    d3ppre = <2>;   //137.5MHz to APB4 peripheral clocks
    //APB1 timer clocks = APB1 clock * 2 = 275MHz
    //APB2 timer clocks = APB2 clock * 2 = 275MHz
};

&mco1 {
    clocks = <&rcc STM32_SRC_LSE MCO1_SEL(MCO1_SEL_LSE)>;
    prescaler = <MCO1_PRE(MCO_PRE_DIV_1)>;
    pinctrl-0 = <&rcc_mco_1_pa8>;
    pinctrl-names = "default";
    status = "okay";
};

&spi5 {
    status = "okay";

    pinctrl-0 = <&spi5_sck_pf7 &spi5_miso_pf8 &spi5_mosi_pf11>;
    pinctrl-names = "default";

    /* * Sintassi: <&rcc MACRO_BUS_CLOCK BIT_MASK>,
     * <&rcc MACRO_SOURCE_CLOCK SELECTION_VAL>
     */
    clocks = <&rcc STM32_CLOCK(APB2, 20)>,
            <&rcc STM32_SRC_PLL3_Q SPI45_SEL(2)>;

    cs-gpios = <&gpiod 11 GPIO_ACTIVE_LOW>;

    mcu_ms5611: ms5611@0 {
        status = "okay";

        compatible = "ams,ms5611";
        reg = <0x0>;
        spi-max-frequency = <1000000>;
    };
};

&usart1 {
    status = "okay";

    pinctrl-0 = <&usart1_tx_pb14 &usart1_rx_pb15>;
    pinctrl-names = "default";
    current-speed = <115200>;
};

&adc1 {
    status = "okay";
    pinctrl-0 = <&adc1_inp9_pb0 &adc1_inp8_pc5>;
    
    pinctrl-names = "default"; 
    resolutions = <16>;

    st,adc-clock-source = "ASYNC";
    st,adc-prescaler = <4>;


    sampling-times = <33>; // FIXME: random magic number, check in cubemx
    st,adc-sequencer = "fixed";
    
    #address-cells = <1>;
    #size-cells = <0>;

    channel@8 {
        reg = <8>;
        zephyr,gain = "ADC_GAIN_1";
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
        zephyr,resolution = <12>;
        // PC5
    };

    channel@9 {
        reg = <9>;
        zephyr,gain = "ADC_GAIN_1";
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
        zephyr,resolution = <12>;
        //label = "PB0";
    };
};

&gpioa {
    status = "okay";
};

&gpiob {
    status = "okay";
};

&gpioc {
    status = "okay";
};

&gpiod {
    status = "okay";
};

&gpioe {
    status = "okay";
};

&gpiof {
    status = "okay";
};

&gpiog {
    status = "okay";
};
