/dts-v1/;
#include <st/h7/stm32h723.dtsi>
#include <st/h7/stm32h723zgtx-pinctrl.dtsi>

#include <zephyr/dt-bindings/sensor/icm42688.h> // To use sensor macros
#include <zephyr/dt-bindings/sensor/bmp581.h>

/ {
    model = "AsterICS";
    compatible = "asterics";

    chosen {
        zephyr,console = &usart1;
        zephyr,shell-uart = &usart1;
        zephyr,sram = &sram0;
        zephyr,flash = &flash0;
    };

    leds {
        compatible = "gpio-leds";
        led_mcu_1: led_mcu_1 {
            gpios = <&gpiob 4 GPIO_ACTIVE_HIGH>;
            label = "LED MCU 1";
        };
        led_mcu_2: led_mcu_2 {
            gpios = <&gpiog 15 GPIO_ACTIVE_HIGH>;
            label = "LED MCU 2";
        };
        led_mcu_3: led_mcu_3 {
            gpios = <&gpiog 14 GPIO_ACTIVE_HIGH>;
            label = "LED MCU 3";
        };
        led_mcu_4: led_mcu_4 {
            gpios = <&gpiog 13 GPIO_ACTIVE_HIGH>;
            label = "LED MCU 4";
        };
        led_mcu_5: led_mcu_5 {
            gpios = <&gpioe 10 GPIO_ACTIVE_HIGH>;
            label = "LED MCU 5";
        };
        led_mcu_6: led_mcu_6 {
            gpios = <&gpiob 1 GPIO_ACTIVE_HIGH>;
            label = "LED MCU 6";
        };
        led_mcu_7: led_mcu_7 {
            gpios = <&gpiog 0 GPIO_ACTIVE_HIGH>;
            label = "LED MCU 7";
        };
    };
};

&sram0 {
    reg = <0x24000000 DT_SIZE_K(320)>;
};

&flash0 {
    reg = <0x08000000 DT_SIZE_K(1024)>;
};

&clk_hse {
    clock-frequency = <DT_FREQ_M(48)>;
    status = "okay";
};

&clk_lse {
    driving-capability = <2>;
    status = "okay";
};

&pll {
    div-m = <3>;
    mul-n = <34>;
    div-p = <1>;
    div-q = <10>;
    div-r = <11>;
    fracn = <3072>;
    clocks = <&clk_hse>;
    status = "okay";
};

&pll2 {
    div-m = <3>;
    mul-n = <12>;
    div-p = <3>;
    div-q = <3>;
    div-r = <3>;
    fracn = <0>;

    clocks = <&clk_hse>;
    status = "okay";
};

&pll3 {
    div-m = <3>;
    mul-n = <12>;
    div-p = <3>;
    div-q = <3>;
    div-r = <3>;
    fracn = <0>;

    clocks = <&clk_hse>;
    status = "okay";
};

&rcc {
    clocks = <&pll>;
    clock-frequency = <DT_FREQ_M(550)>; /* CPU Core Clock */
    d1cpre = <1>;   // sets the CPU clock, same as systick
    hpre = <2>;     // 275MHz to AXI, HCLK3, AHB1, AHB2, AHB4
    d1ppre = <2>;   //137.5MHz to APB3 peripheral clocks
    d2ppre1 = <2>;  //137.5MHz to APB1 peripheral clocks
    d2ppre2 = <2>;  //137.5MHz to APB2 peripheral clocks
    d3ppre = <2>;   //137.5MHz to APB4 peripheral clocks
    //APB1 timer clocks = APB1 clock * 2 = 275MHz
    //APB2 timer clocks = APB2 clock * 2 = 275MHz
};

&mco1 {
    clocks = <&rcc STM32_SRC_LSE MCO1_SEL(MCO1_SEL_LSE)>;
    prescaler = <MCO1_PRE(MCO_PRE_DIV_1)>;
    pinctrl-0 = <&rcc_mco_1_pa8>;
    pinctrl-names = "default";
    status = "okay";
};

&spi1 {
    status = "okay";

    pinctrl-0 = <&spi1_sck_pa5 &spi1_miso_pa6 &spi1_mosi_pa7>;
    pinctrl-names = "default";

    clocks = <&rcc STM32_CLOCK(APB2, 12)>,
            <&rcc STM32_SRC_PLL2_P SPI123_SEL(1)>;

    cs-gpios = <&gpiod 15 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;

    w25q512jv: w25q512jv@0 {
        compatible = "jedec,spi-nor";
        reg = <0>;

        spi-max-frequency = <64000000>;

        /* Dimensione in bit: 512 Mbit = 64 MByte = 0x4000000 */
        size = <0x4000000>;

        /* JEDEC ID per W25Q512JV-IQ/JQ:
            Manufacturer: 0xEF (Winbond)
            Memory Type:  0x40 (SPI)
           Capacity:     0x20 (512Mbit) */

        /* JEDEC ID per MX25L512:
            Manufacturer: 0xC2 (mxic)
            Memory Type:  0x20 (SPI)
           Capacity:     0x1a (512Mbit) */
        jedec-id = [C2 20 1a];  //check for different data size and memory type
    
        /* Partizionamento (Opzionale ma raccomandato) */
        partitions {
            compatible = "fixed-partitions";
            #address-cells = <1>;
            #size-cells = <1>;

            storage_partition: partition@0 {
                label = "storage";
                reg = <0x00000000 0x04000000>; /* Tutta la memoria */
            };
        };

    };
};

&spi5 {
    status = "okay";

    pinctrl-0 = <&spi5_sck_pf7 &spi5_miso_pf8 &spi5_mosi_pf11>;
    pinctrl-names = "default";

    /* * Sintassi: <&rcc MACRO_BUS_CLOCK BIT_MASK>,
     * <&rcc MACRO_SOURCE_CLOCK SELECTION_VAL>
     */
    clocks = <&rcc STM32_CLOCK(APB2, 20)>,
            <&rcc STM32_SRC_PLL3_Q SPI45_SEL(2)>;

    cs-gpios = <&gpiod 11 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>, //ms56
                <&gpioa 3 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>, //gyro
                <&gpioa 2 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>, //accel
                <&gpioc 0 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>, //icm
                <&gpioc 4 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>; //bmp

    mcu_ms5611: ms5611@0 {
        status = "okay";

        compatible = "ams,ms5611";
        reg = <0>;
        spi-max-frequency = <1000000>;
    };

    mcu_bmi088_gyro: bmi08x-gyro@1 {
        status = "okay";

        compatible = "bosch,bmi08x-gyro";
        reg = <1>;
        spi-max-frequency = <1000000>;

        gyro-hz = "400_47";
        gyro-fs = <2000>;

        friendly-name="bmi088-gyro-mcu";
    };

    mcu_bmi088_accel: bmi08x-accel@2 {
        status = "okay";
        compatible = "bosch,bmi08x-accel";
        reg = <2>;
        spi-max-frequency = <1000000>;

        accel-hz = "1600";
        accel-fs = <16>;

        //data-sync = <&mcu_bmi088_gyro> //TODO: è necessario collegare un jumper fisicamente sulla scheda, controllare!
        friendly-name="bmi088-accel-mcu";
    };

    mcu_icm42688p: mcu_icm42688p@3 {
        status = "okay";
        compatible = "invensense,icm42688", "invensense,icm4268x";
        reg = <3>;
        spi-max-frequency = <1000000>;
        friendly-name = "icm42688-p-mcu";

        int-gpios = <&gpioa 15 GPIO_ACTIVE_HIGH>;
        
        /* Accel Config */
        accel-pwr-mode = <ICM42688_DT_ACCEL_LN>;
        accel-odr = <ICM42688_DT_ACCEL_ODR_1000>;
        accel-fs = <ICM42688_DT_ACCEL_FS_8>;

        /* Gyro */
        gyro-pwr-mode = <ICM42688_DT_GYRO_LN>;
        gyro-odr = <ICM42688_DT_GYRO_ODR_1000>;
        gyro-fs = <ICM42688_DT_GYRO_FS_1000>;


        /* Correzione assi */
        /* axis-align-x = <SENSOR_AXIS_ALIGN_DT_Y>;
        axis-align-x-sign = <SENSOR_AXIS_ALIGN_DT_NEG>;
        
        axis-align-y = <SENSOR_AXIS_ALIGN_DT_X>;
        axis-align-y-sign = <SENSOR_AXIS_ALIGN_DT_NEG>;
        
        axis-align-z = <SENSOR_AXIS_ALIGN_DT_Z>;
        axis-align-z-sign = <SENSOR_AXIS_ALIGN_DT_NEG>; */
    };

    mcu_bmp585: mcu_bmp585@4 {
        //NOTA: bmp585 is the same silicon as bmp581 but with barbed input
        status = "disabled";    //FIXME: the driver doesn't work in SPI mode yet
        compatible = "bosch,bmp581";
        reg = <4>;
        spi-max-frequency = <1000000>;
        friendly-name = "bmp585-mcu";

        odr = <BMP581_DT_ODR_50_HZ>;
        press-osr = <BMP581_DT_OVERSAMPLING_4X>;
        temp-osr = <BMP581_DT_OVERSAMPLING_4X>;
        power-mode = <BMP581_DT_MODE_NORMAL>;
        press-iir = <0>;
        temp-iir = <0>;

    };

};

&usart1 {
    status = "okay";

    pinctrl-0 = <&usart1_tx_pb14 &usart1_rx_pb15>;
    pinctrl-names = "default";
    current-speed = <115200>;
};

&adc1 {
    status = "okay";
    pinctrl-0 = <&adc1_inp9_pb0
                &adc1_inp8_pc5>;
    
    pinctrl-names = "default"; 

    //resolutions = <STM32_ADC_RES(16, 0x00);

    st,adc-clock-source = "ASYNC";


    // Il primo è il clock di bus, il secondo è quello della periferica. 
    //è possibile anche aggiungere un fattore di divisione per un prescaler del clock in ingresso
    // il secondo elemento va messo se si sceglie di usare un clock-source async
    clocks = <&rcc STM32_CLOCK(AHB1, 5)>,
            <&rcc STM32_SRC_PLL3_R ADC_SEL(1)>;

    clock-names = "adcx", "adc_ker";

    st,adc-prescaler = <4>;

    //sampling-times = <33>; // FIXME: random magic number, check in cubemx
    //st,adc-sequencer = "fixed";
    
    #address-cells = <1>;
    #size-cells = <0>;

    channel@8 {
        reg = <8>;
        zephyr,gain = "ADC_GAIN_1";
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
        zephyr,resolution = <16>;
        // PC5
    };

    channel@9 {
        reg = <9>;
        zephyr,gain = "ADC_GAIN_1";
        zephyr,reference = "ADC_REF_INTERNAL";
        zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
        zephyr,resolution = <16>;
        //label = "PB0";
    };
};

&gpioa {
    status = "okay";
};

&gpiob {
    status = "okay";
};

&gpioc {
    status = "okay";
};

&gpiod {
    status = "okay";
};

&gpioe {
    status = "okay";
};

&gpiof {
    status = "okay";
};

&gpiog {
    status = "okay";
};
